
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Funcionalidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


   <div>
      <ion-img src="/assets/imagem_logo.png"></ion-img>
   </div>


  <div>
   <ion-button color="success" size="small" size="default" (click)="funcionalidade2()"><b>iniciar</b></ion-button>
  </div>

  <div>
   <ion-button color="success" size="small" size="default"><b>Ranking</b></ion-button>
  </div>

  <div>
   <ion-button color="success" size="small" size="default"><b>Enviar questões</b></ion-button>
  </div>

  <div>
   <ion-button color="success" size="small" size="default" (click)="funcionalidade1()"><b>Meus dados</b></ion-button>
  </div>

</ion-content>
