ion-content{
  --background: #9966CC;

 }
 ion-button{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 20px;
 }
 ion-img{
     margin:60px;
     height: 200px;
 }
